@page "/changepassword"

<EditForm Model="ChangePasswordRequest" OnValidSubmit="ChangeUserPassword">
    <DataAnnotationsValidator />
    <MudGrid Justify="Justify.Center">
        <MudItem sm="12" md="6" lg="4">
            <MudCard>
                <MudCardContent>
                    <MudText Typo="Typo.h6" Style="text-align: center">Change Password</MudText>
                    @if (ShowChangePasswordErrors)
                    {
                        <div>
                            @foreach (var error in Errors)
                            {
                                <p class="text-danger text-center">@error</p>
                            }
                        </div>
                    }
                    <div class="py-2">
                        <MudTextField @bind-Value="ChangePasswordRequest.CurrentPassword" class="form-control" InputType="InputType.Password" id="oldPassword" Label="Current password..." />
                        <ValidationMessage For="(() => ChangePasswordRequest.CurrentPassword)" />
                    </div>
                    <div class="py-2">
                        <MudTextField @bind-Value="ChangePasswordRequest.NewPassword" class="form-control" InputType="InputType.Password" id="password" Label="Enter new password..." />
                        <ValidationMessage For="(() => ChangePasswordRequest.NewPassword)" />
                    </div>
                    <div class="py-2">
                        <MudTextField @bind-Value="ChangePasswordRequest.ConfirmNewPassword" class="form-control" InputType="InputType.Password" id="confirm" Label="Confirm new password..." />
                        <ValidationMessage For="(() => ChangePasswordRequest.ConfirmNewPassword)" />
                    </div>
                </MudCardContent>
                <MudCardActions>
                    <MudContainer Style="text-align: center">
                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Outlined">
                            <MudIcon Icon="@Icons.Filled.Password" Color="Color.Warning" /> Change Password
                        </MudButton>
                    </MudContainer>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</EditForm>


@code {

}
