@page "/login"

<EditForm Model="SignInRequest" OnValidSubmit="LoginUser">
    <DataAnnotationsValidator />
    <MudGrid Justify="Justify.Center">
        <MudItem sm="12" md="6" lg="4">
            <MudCard>
                <MudCardContent class="px-lg-5 pt-4 pa-4">
                    <MudText Typo="Typo.h6" Style="text-align: center">Sign In</MudText>
                    @if (ShowSignInErrors)
                    {
                        <MudText Color="Color.Error">@Errors</MudText>
                    }
                    <div class="py-2">
                        <MudTextField @bind-Value="SignInRequest.UserName" id="email" Label="Email..." class="form-control mb-2" />
                        <ValidationMessage For="(() => SignInRequest.UserName)"></ValidationMessage>
                    </div>
                    <div class="py-2">
                        <MudTextField @bind-Value="SignInRequest.Password" InputType="InputType.Password" Label="Password..." id="password" class="form-control mb-2" />
                        <ValidationMessage For="(() => SignInRequest.Password)"></ValidationMessage>
                    </div>
                </MudCardContent>
                <MudCardActions>
                    <MudContainer Style="text-align: center">
                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Outlined">
                            <MudIcon Icon="@Icons.Filled.Login" Color="Color.Primary" /> Sign In
                        </MudButton>
                        <MudButton ButtonType="ButtonType.Button" Href="/register" Variant="Variant.Outlined">
                            <MudIcon Icon="@Icons.Filled.PersonAdd" Color="Color.Success" /> Register as a new user
                        </MudButton>
                    </MudContainer>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</EditForm>


@code {

}
