@page "/register"

<EditForm Model="SignUpRequest" OnValidSubmit="RegisterUser" class="pt-4">
    <DataAnnotationsValidator />
    <MudGrid Justify="Justify.Center">
        <MudItem sm="12" md="6" lg="4">
            <MudCard>
                <MudCardContent>
                    <MudText Typo="Typo.h6" Style="text-align: center">Sign Up</MudText>
                        @if (ShowRegistrationErrors && Errors != null)
                        {
                            <div>
                            @foreach (var error in Errors)
                            {
                                <MudText Color="Color.Error">@error</MudText>
                            }
                            </div>
                        }

                        <div class="py-2">
                            <MudTextField @bind-Value="SignUpRequest.Name" class="form-control" Label="Name..." />
                            <ValidationMessage For="(() => SignUpRequest.Name)" />
                        </div>
                        <div class="py-2">
                            <MudTextField @bind-Value="SignUpRequest.Email" InputType="InputType.Email" class="form-control" Label="Email..." />
                            <ValidationMessage For="(() => SignUpRequest.Email)" />
                        </div>
                        <div class="py-2 input-group">
                            <MudTextField @bind-Value="SignUpRequest.PhoneNumber" class="form-control" Label="Phone number..." />
                            <ValidationMessage For="(() => SignUpRequest.PhoneNumber)" />
                        </div>
                        @*<div class="py-2">
                            <InputDate @bind-Value="SignUpRequest.HireDate" class="form-control" />
                            <ValidationMessage For="(() => SignUpRequest.HireDate.Date)" />
                        </div>*@
                        <div class="form-row py-2">
                            <div class="col">
                                <MudTextField @bind-Value="SignUpRequest.Password" InputType="InputType.Password" id="password" Label="Password..." class="form-control" />
                                <ValidationMessage For="(() => SignUpRequest.Password)" />
                            </div>
                            <div class="col py-2">
                                <MudTextField @bind-Value="SignUpRequest.ConfirmPassword" InputType="InputType.Password" id="confirm" class="form-control" Label="Confirm password..." />
                                <ValidationMessage For="(() => SignUpRequest.ConfirmPassword)" />
                            </div>
                        </div>
                </MudCardContent>
                <MudCardActions>
                        <hr style="background-color: aquamarine;" />
                        <MudContainer Style="text-align: center">
                            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Outlined">
                                <MudIcon Icon="@Icons.Filled.PersonAdd" Color="Color.Success"/>Register
                            </MudButton>
                        </MudContainer>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</EditForm>

@code {

}
